<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
    <!--css,JS 추가영역-->
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="main">
            <div class="info-part">
                <th:block th:if="${managements != null}">
                    <div class="row row-cols-3">
                        <div class="col" th:each="manage : ${managements}">
                            <div th:text="${manage.foodName}"></div>
                            <div th:text="${manage.status}"></div>
                            <div th:text="${manage.sellbydate}"></div>
                            <div th:text="${manage.usebydate}"></div>
                        </div>
                    </div>
                </th:block>
                <!-- null의 경우 empty 표시 -->
                <th:block th:if="${managements == null}">
                    <div>empty</div>
                </th:block>
                <div>
                    <button type="button" onclick="location.href='/manage/add'"  class="btn btn-outline-dark me-2">+ 추가</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>