<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
    <!--css,JS 추가영역-->
</head>
<div class="main-manage" layout:fragment="content">
    <h3 class="manage-storage" th:text="${storageStatus}"></h3>
    <div class="manage-list row-cols-6">
        <th:block th:if="${managements != null}">
            <div class="row col-1 manage-one" th:each="manage : ${managements}">
                <div class="col-7 foodname" th:text="${manage.foodName}"></div>

                <div th:if="${#strings.equals(manage.status,'GOOD')}"
                     class="circle circle-green col-1"></div>
                <div th:if="${#strings.equals(manage.status,'FINE')}"
                     class="circle circle-yellow col-1"></div>
                <div th:if="${#strings.equals(manage.status,'BAD')}"
                     class="circle circle-red col-1"></div>

                <div class="close" th:if="${deleteMode} eq true">
                    <a href="#" th:href="|javascript:cancel('${storageStatus}','${manage.id}')|"><i class="bi bi-x" style="font-size: 1.5rem;"></i></a>
                </div>

                <div class="col-9 manage-text">유통기한</div>
                <div class="col-10 manage-date" th:text="${manage.sellbydate}"></div>
                <div class="col-9 manage-text">소비기한</div>
                <div class="col-10 manage-date" th:text="${manage.usebydate}"></div>
            </div>
        </th:block>
        <!-- null의 경우 empty 표시 -->
        <th:block th:if="${managements.isEmpty()}">
            <div class="position-absolute empty-listfood start-50 translate-middle">
                <h1 class="empty-text">empty</h1>
            </div>
        </th:block>
    </div>

    <div class="float-end">
        <button type="button" onclick="location.href='/manage/add'"
                th:unless="${deleteMode} eq true"
                class="btn btn-outline-dark m-2 align-self-end">+ 추가
        </button>
    </div>
    <div class="float-end">
        <button type="button"
                th:unless="${deleteMode} eq true"
                th:onclick="|location.href='@{/{status}/list(status=${storageStatus},deleteMode=true)}'|"
                class="btn btn-outline-dark m-2 align-self-end">- 삭제
        </button>
        <button type="button"
                th:if="${deleteMode} eq true"
                th:onclick="|location.href='@{/{status}/list(status=${storageStatus})}'|"
                class="btn btn-dark m-2 align-self-end">삭제 완료
        </button>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        function cancel(status, id) {
            const form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/" + status + "/list/" + id + "/cancel");
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</th:block>
</html>