<!DOCTYPE html>
<html
        lagn="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns="http://www.w3.org/1999/html">

<head>
    <title id="pageTitle">nemo-fridge | 네모냉장고</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="잊어버리기 쉬운 냉장고 안의 식품들의 유통기한, 소비기한을 관리해보세요.">
    <link rel="stylesheet" href="/css/bootstrap.css" th:href="@{css/bootstrap.css}"/>
    <link rel="stylesheet" href="/css/square.css" th:href="@{css/square.css}"/>

    <!--bootstrap icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script src="/js/bootstrap.bundle.js" th:href="@{js/bootstrap.bundle.js}"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>

<div class="layout">

    <div th:replace="fridge :: fridge"></div>

    <div class="main-content">
        <div th:replace="fragments/header :: header"></div>

        <div class="container">
            <div class="main">
                <div class="info-part">
                    <div class="info-inner">
                        <div layout:fragment="content"></div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
</body>
<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script"></th:block>
</html>