<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
    <!--css,JS 추가영역-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<div layout:fragment="content">
    <div class="container">
        <div class="login">
            <h1 class="mb-4">회원 가입</h1>
            <form method="post">

                <div>
                    <p class="text-start mb-1">아이디(이메일)</p>
                    <input type="email" class="form-control mb-2" name="userId" placeholder="아이디(이메일) 입력" required />
                </div>

                <div>
                    <p class="text-start mb-1">이름</p>
                    <input type="text" class="form-control mb-2" name="userName" placeholder="이름 입력" required />
                </div>

                <!-- 전화번호 등록 생략/보류
                <div>
                    <p class="text-start mb-1">전화번호</p>
                    <input type="tel" name="phone" placeholder="전화번호 입력" required />
                </div>
                -->
                <div>
                    <p class="text-start mb-1">비밀번호</p>
                    <input type="password" class="form-control mb-2" name="password" placeholder="비밀번호 입력" required />
                </div>
                <div>
                    <p class="text-start mb-1">비밀번호 확인</p>
                    <input type="password" class="form-control mb-4" name="repassword" placeholder="비밀번호 입력 확인" required/>
                </div>

                <div>
                    <button class="w-100 btn btn-lg btn-dark" type="submit">회원 가입</button>
                </div>

            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            $('form').on('submit', function () {
                var password = $(this).find('input[name=password]').val();
                var repassword = $(this).find('input[name=repassword]').val();

                if (password != repassword) {
                    alert(' 비밀번호 값과 확인 비밀번호 값이 일치하지 않습니다. ');
                    return false;
                }
            });
        });
    </script>
</th:block>
</html>