<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<div th:fragment="header">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 header-content">
            <a href="/" class="d-flex align-items-center col-md-6 mb-2 mb-md-0 text-dark text-decoration-none">
                <h1 class="title-icon">nemo-fridge</h1>
            </a>

            <div class="col-md-4 text-end d-flex justify-content-end align-items-center">
                <p class="m-auto mx-3" th:unless="session.memberName eq null" sec:authorize="isAuthenticated()" th:text="${session.memberName}+' 님'">test</p>
                <button type="button" onclick="location.href='/member/login'"  class="btn btn-outline-dark me-2" sec:authorize="isAnonymous()">Login</button>
                <button type="button" onclick="location.href='/member/register'" class="btn btn-dark" sec:authorize="isAnonymous()">Sign-up</button>
                <button type="button" onclick="location.href='/member/logout'" class="btn btn-outline-dark me-2" sec:authorize="isAuthenticated()">Logout</button>
            </div>
        </header>
</div>
</html>