<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> 에러 페이지 </title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/square.css"/>
</head>
<body>
<div class="error-main">
    <img src="/img/404.png" alt="404error" style="max-width: 450px"/>
    <div class="error-message">
        <h1>Not found</h1>
        <p>현재 존재하지 않는 웹페이지 접근입니다.</p>
        <a href="/">홈으로 이동</a>
    </div>
</div>
</body>
</html>
