@font-face {
    src: url("../font/Cafe24Ohsquareair.ttf") format('truetype');
    font-weight: normal;
    font-family: 'ohsquare';
}

@font-face {
    src: url("../font/Cafe24Ohsquare.ttf") format('truetype');
    font-weight: bold;
    font-family: 'ohsquare';
}

body {
    font-family: 'ohsquare';
}

a {
    text-decoration-line: none;
    color: var(--bs-primary);
}

.main {
    margin: 5% 0% 5% 0%;
}

.layout {
    display: flex;
}

.fridge-content {
    position: sticky;
    width: 25%;
    height: 100vh;
    top: 0;
}

.fridge-content .fridgeset {
    border-right: solid;
    border-color: var(--bs-line-color);
    color: #70777e;
}

.fridge-content .fridgeset:hover {
    color: var(--bs-primary);
    border-right-width: 5px;
    border-right-color: var(--bs-primary);
}

.fridge-content .fridgeA {
    height: 40vh;
    border-bottom: solid;
    border-color: var(--bs-line-color);
}

.fridge-content .fridgeB {
    height: 60vh;
}

.fridge-content .fridgeset .freezer-text {
    position: absolute;
    right: 10px;
    bottom: 61%;
}

.fridge-content .fridgeset .fridge-text {
    position: absolute;
    right: 10px;
    bottom: 56.5%;
}

.main-content {
    position: relative;
    width: 75%;
}

.header-content {
    padding: 20px;
    border-bottom: solid;
    border-color: var(--bs-line-color);
}

.title-icon {
    font-family: ohsquare;
    font-weight: bold;
    font-size: 2.5em;
}

.info-part {
    display: flex;
    min-height: 50vh;
}

.info-inner {
    margin: auto;
    text-align: center;
}


.footer {
    width: 100%;
    border-top: solid;
    border-color: var(--bs-line-color);
    padding: 7px;
    color: #70777e;
}

.footer .copy-right {
    font-size: 0.8em;
    font-family: Barlow;
    margin: 0;
}

/*
manage list
 */

.main-manage {
    width: 65vw;
}

.manage-storage {
    text-align: left;
    margin-left: 20px;
}

.manage-list {
    background-color: #dbead5;
    min-height: 60vh;
    padding: 1px;
}

.manage-one {
    float: left;
    width: 155px;
    height: 155px;
    background-color: white;
    border-radius: 20%;
    margin: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3px;
    padding-bottom: 8px;
}

.manage-one .foodname {
    height: 50px;
    align-items: center;
    display: flex;
}

.manage-one .circle {
    --bs-gutter-x: 0;
    margin: 0;
    width: 7px;
    height: 7px;
    border: 7px solid;
    border-radius: 100%;
}

.circle-green {
    border-color: green !important;
}

.circle-yellow {
    border-color: #ead700 !important;
}

.circle-red {
    border-color: red !important;
}

.manage-one .manage-text {
    font-size: 0.8rem;
    text-align: left;
}

.manage-one .manage-date {
    font-size: 0.9rem;
}

.close {
    color: #70777e;
    position: absolute;
    top: 6px;
    right: 10px;
    width: 5px;
    height: 5px;
}

.close:hover {
    color: black;
}

.manage-list .empty-listfood {
    top:47%; !important;
}

.empty-text {
    font-family: ohsquare;
    font-weight: bold;
    font-size: 2.5em;
    color: #9BA697;
}

/*
에러 페이지
 */

.error-main {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1025px) {
    .error-main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 98vh;
        flex-direction: row;
        margin: 0;
    }
}

.error-message {
    max-width: 450px;
    display: inline;
    text-align: center;
    margin: 50px;
}

.error-message a {
    color: #56d081;
}
