<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fridge" class="fridge-content">
        <a href="/FREEZER/list">
            <div class="fridgeset fridgeA">
                <div class="freezer-text">
                    냉동고
                </div>
            </div>
        </a>
        <a href="/FRIDGE/list">
            <div class="fridgeset fridgeB">
                <div class="fridge-text">
                    냉장고
                </div>
            </div>
        </a>
</div>
</html>