<!DOCTYPE html>
<html
        lagn="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layout}"
>
<head>
  <!--css,JS 추가영역-->
</head>
<div layout:fragment="content">
        <h1 class="mb-4" style="font-weight: bold; color: #343434;">네모냉장고</h1>
        <h5 class="mb-4" style="color: #808080;">냉장고 식품들의 소비기한을 관리<br/> 해주는 웹 어플리케이션.</h5>
        <a href="/read-more"><h6 class="mb-4">더 알아보기 ></h6></a>
        <img src="../img/fridgemain.png" alt="fridge1" style="max-width: 450px"/>
</div>
</html>